@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .top-2px {
    top: 2px;
  }
  .text-size-sm {
    font-size: 0.9em;
  }
  .content-container {
    height: calc(100vh - 70px);
  }
}

body {
  background-color: rgba(243, 244, 246);
}
